In [22]:
import pandas as pd
import numpy as np

In [23]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [24]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [25]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Merging two datasets

In [26]:
movies = movies.merge(credits,on='title')

In [30]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

# Selecting the columns which we will use for making the recommendation system 

1. genere
2. keywords
3. overview
4. title
5. cast
6. crew
7. movie_id

Here we neglect numerical columns because only categorical cols are useful for content based recom-sys

In [33]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [34]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Checking for missing values

In [37]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [36]:
movies.dropna(inplace=True)

In [39]:
#checking for duplicate rows

movies.duplicated().sum()

np.int64(0)

Extracting genres in proper format

In [41]:
movies.iloc[1].genres

'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'

In [42]:
import ast 
ast.literal_eval('[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'
)

[{'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 28, 'name': 'Action'}]

In [44]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

In [51]:
movies['keywords'] = movies['keywords'].apply(convert)

In [52]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [53]:
#extracting only first 3 actors name

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [54]:
movies['cast'] = movies['cast'].apply(convert3)

In [56]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [61]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [63]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [64]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [67]:
#Converting overview onto a list

movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [75]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [76]:
 movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [79]:
new_df = movies[['movie_id','title','tags']]

In [81]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [83]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\vedsh\AppData\Local\Temp\ipykernel_10696\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [86]:
new_df['tags'][1]

"Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems. Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger Johnny Depp Orlando Bloom Keira Knightley Gore Verbinski"

In [88]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\vedsh\AppData\Local\Temp\ipykernel_10696\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [90]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [91]:
new_df['tags']

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [96]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

def preprocess(text):
    text = text.lower()
    text = re.sub(r'[^a-z\s]', '', text)   # keep only letters
    tokens = text.split()
    tokens = [w for w in tokens if w not in stop_words]
    return tokens

# Apply
new_df['tags'] = new_df['tags'].apply(preprocess)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vedsh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

AttributeError: 'list' object has no attribute 'lower'

In [97]:
sentences = new_df['tags'].tolist()

In [99]:
!pip install gensim

Collecting gensim
  Downloading gensim-4.4.0-cp313-cp313-win_amd64.whl.metadata (8.6 kB)
Requirement already satisfied: numpy>=1.18.5 in c:\users\vedsh\anaconda3\lib\site-packages (from gensim) (2.1.3)
Requirement already satisfied: scipy>=1.7.0 in c:\users\vedsh\anaconda3\lib\site-packages (from gensim) (1.15.3)
Collecting smart_open>=1.8.1 (from gensim)
  Downloading smart_open-7.5.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: wrapt in c:\users\vedsh\anaconda3\lib\site-packages (from smart_open>=1.8.1->gensim) (1.17.0)
Downloading gensim-4.4.0-cp313-cp313-win_amd64.whl (24.4 MB)
   ---------------------------------------- 0.0/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.3/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.3/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.3/24.4 MB ? eta -:--:--
   ---------------------------------------- 0.3/24.4 MB ? eta -:--:--
    --------------------------------------- 0.5/24.4 MB 309.9 kB/s eta 0:01:18
    --------------------------------------- 0.5/24.4 MB 309.9 kB/s eta 0:01:18
    --------------------------------------- 0.5/24.4 MB 309.9 kB/s eta 0:01:18
    --------------------------------------- 0.5/24.4 MB 309.9 kB/s eta 0:01:18
    --------------------------------------- 0.5/24.4 MB 309.9 kB/s eta 0:01:18
    --------------------------------------- 0.5/24.4 MB 309.9 kB/s eta 0:01:18
   - -------------------------------------- 0.8/24.4 MB 241.9 kB/s eta 0:01:38
   - -------------------------------------- 0.8/24.4 MB 241.9 kB/s eta 0:01:38
   - -------------------------------------- 0.8/24.4 MB 241.9 kB/s eta 0:01:38
   - -------------------------------------- 0.8/24.4 MB 241.9 kB/s eta 0:01:38
   - -------------------------------------- 0.8/24.4 MB 241.9 kB/s eta 0:01:38
   - -------------------------------------- 0.8/24.4 MB 241.9 kB/s eta 0:01:38
   - -------------------------------------- 1.0/24.4 MB 226.1 kB/s eta 0:01:44
   - -------------------------------------- 1.0/24.4 MB 226.1 kB/s eta 0:01:44
   - -------------------------------------- 1.0/24.4 MB 226.1 kB/s eta 0:01:44
   - -------------------------------------- 1.0/24.4 MB 226.1 kB/s eta 0:01:44
   -- ------------------------------------- 1.3/24.4 MB 236.9 kB/s eta 0:01:38
   -- ------------------------------------- 1.3/24.4 MB 236.9 kB/s eta 0:01:38
   -- ------------------------------------- 1.3/24.4 MB 236.9 kB/s eta 0:01:38
   -- ------------------------------------- 1.6/24.4 MB 260.2 kB/s eta 0:01:28
   -- ------------------------------------- 1.6/24.4 MB 260.2 kB/s eta 0:01:28
   --- ------------------------------------ 1.8/24.4 MB 283.8 kB/s eta 0:01:20
   --- ------------------------------------ 1.8/24.4 MB 283.8 kB/s eta 0:01:20
   --- ------------------------------------ 2.1/24.4 MB 303.3 kB/s eta 0:01:14
   --- ------------------------------------ 2.1/24.4 MB 303.3 kB/s eta 0:01:14
   --- ------------------------------------ 2.1/24.4 MB 303.3 kB/s eta 0:01:14
   --- ------------------------------------ 2.4/24.4 MB 314.9 kB/s eta 0:01:10
   --- ------------------------------------ 2.4/24.4 MB 314.9 kB/s eta 0:01:10
   --- ------------------------------------ 2.4/24.4 MB 314.9 kB/s eta 0:01:10
   --- ------------------------------------ 2.4/24.4 MB 314.9 kB/s eta 0:01:10
   ---- ----------------------------------- 2.6/24.4 MB 316.7 kB/s eta 0:01:09
   ---- ----------------------------------- 2.6/24.4 MB 316.7 kB/s eta 0:01:09
   ---- ----------------------------------- 2.6/24.4 MB 316.7 kB/s eta 0:01:09
   ---- ----------------------------------- 2.6/24.4 MB 316.7 kB/s eta 0:01:09
   ---- ----------------------------------- 2.6/24.4 MB 316.7 kB/s eta 0:01:09
   ---- ----------------------------------- 2.9/24.4 MB 307.5 kB/s eta 0:01:10
   ---- ----------------------------------- 2.9/24.4 MB 307.5 kB/s eta 0:01:10
   ---- ----------------------------------- 2.9/24.4 MB 307.5 kB/s eta 0:01:10
   ---- ----------------------------------- 2.9/24.4 MB 307.5 kB/s eta 0:01:10
   ---- ----------------------------------- 2.9/24.4 MB 307.5 kB/s eta 0:01:10
   ----- ---------------------------------- 3.1/24.4 MB 301.1 kB/s eta 0:01:11
   ----- ---------------------------------- 3.1/24.4 MB 301.1 kB/s eta 0:01:11
   ----- ---------------------------------- 3.1/24.4 MB 301.1 kB/s eta 0:01:11
   ----- ---------------------------------- 3.4/24.4 MB 306.9 kB/s eta 0:01:09
   ----- ---------------------------------- 3.4/24.4 MB 306.9 kB/s eta 0:01:09
   ------ --------------------------------- 3.7/24.4 MB 321.0 kB/s eta 0:01:05
   ------ --------------------------------- 3.7/24.4 MB 321.0 kB/s eta 0:01:05
   ------ --------------------------------- 3.9/24.4 MB 330.6 kB/s eta 0:01:02
   ------ --------------------------------- 3.9/24.4 MB 330.6 kB/s eta 0:01:02
   ------ --------------------------------- 4.2/24.4 MB 339.4 kB/s eta 0:01:00
   ------ --------------------------------- 4.2/24.4 MB 339.4 kB/s eta 0:01:00
   ------ --------------------------------- 4.2/24.4 MB 339.4 kB/s eta 0:01:00
   ------- -------------------------------- 4.5/24.4 MB 344.7 kB/s eta 0:00:58
   ------- -------------------------------- 4.5/24.4 MB 344.7 kB/s eta 0:00:58
   ------- -------------------------------- 4.5/24.4 MB 344.7 kB/s eta 0:00:58
   ------- -------------------------------- 4.7/24.4 MB 344.8 kB/s eta 0:00:58
   ------- -------------------------------- 4.7/24.4 MB 344.8 kB/s eta 0:00:58
   ------- -------------------------------- 4.7/24.4 MB 344.8 kB/s eta 0:00:58
   ------- -------------------------------- 4.7/24.4 MB 344.8 kB/s eta 0:00:58
   ------- -------------------------------- 4.7/24.4 MB 344.8 kB/s eta 0:00:58
   -------- ------------------------------- 5.0/24.4 MB 337.4 kB/s eta 0:00:58
   -------- ------------------------------- 5.0/24.4 MB 337.4 kB/s eta 0:00:58
   -------- ------------------------------- 5.2/24.4 MB 341.0 kB/s eta 0:00:57
   -------- ------------------------------- 5.2/24.4 MB 341.0 kB/s eta 0:00:57
   -------- ------------------------------- 5.2/24.4 MB 341.0 kB/s eta 0:00:57
   -------- ------------------------------- 5.2/24.4 MB 341.0 kB/s eta 0:00:57
   --------- ------------------------------ 5.5/24.4 MB 339.5 kB/s eta 0:00:56
   --------- ------------------------------ 5.5/24.4 MB 339.5 kB/s eta 0:00:56
   --------- ------------------------------ 5.5/24.4 MB 339.5 kB/s eta 0:00:56
   --------- ------------------------------ 5.5/24.4 MB 339.5 kB/s eta 0:00:56
   --------- ------------------------------ 5.8/24.4 MB 338.6 kB/s eta 0:00:56
   --------- ------------------------------ 5.8/24.4 MB 338.6 kB/s eta 0:00:56
   --------- ------------------------------ 6.0/24.4 MB 345.4 kB/s eta 0:00:54
   --------- ------------------------------ 6.0/24.4 MB 345.4 kB/s eta 0:00:54
   --------- ------------------------------ 6.0/24.4 MB 345.4 kB/s eta 0:00:54
   ---------- ----------------------------- 6.3/24.4 MB 345.7 kB/s eta 0:00:53
   ---------- ----------------------------- 6.3/24.4 MB 345.7 kB/s eta 0:00:53
   ---------- ----------------------------- 6.3/24.4 MB 345.7 kB/s eta 0:00:53
   ---------- ----------------------------- 6.3/24.4 MB 345.7 kB/s eta 0:00:53
   ---------- ----------------------------- 6.6/24.4 MB 344.0 kB/s eta 0:00:52
   ---------- ----------------------------- 6.6/24.4 MB 344.0 kB/s eta 0:00:52
   ----------- ---------------------------- 6.8/24.4 MB 348.4 kB/s eta 0:00:51
   ----------- ---------------------------- 6.8/24.4 MB 348.4 kB/s eta 0:00:51
   ----------- ---------------------------- 7.1/24.4 MB 356.5 kB/s eta 0:00:49
   ------------ --------------------------- 7.3/24.4 MB 363.4 kB/s eta 0:00:47
   ------------ --------------------------- 7.6/24.4 MB 371.3 kB/s eta 0:00:46
   ------------ --------------------------- 7.6/24.4 MB 371.3 kB/s eta 0:00:46
   ------------ --------------------------- 7.9/24.4 MB 379.1 kB/s eta 0:00:44
   ------------- -------------------------- 8.1/24.4 MB 386.2 kB/s eta 0:00:43
   ------------- -------------------------- 8.4/24.4 MB 393.1 kB/s eta 0:00:41
   ------------- -------------------------- 8.4/24.4 MB 393.1 kB/s eta 0:00:41
   ------------- -------------------------- 8.4/24.4 MB 393.1 kB/s eta 0:00:41
   ------------- -------------------------- 8.4/24.4 MB 393.1 kB/s eta 0:00:41
   -------------- ------------------------- 8.7/24.4 MB 391.3 kB/s eta 0:00:41
   -------------- ------------------------- 8.7/24.4 MB 391.3 kB/s eta 0:00:41
   -------------- ------------------------- 8.9/24.4 MB 394.6 kB/s eta 0:00:40
   -------------- ------------------------- 8.9/24.4 MB 394.6 kB/s eta 0:00:40
   -------------- ------------------------- 8.9/24.4 MB 394.6 kB/s eta 0:00:40
   -------------- ------------------------- 8.9/24.4 MB 394.6 kB/s eta 0:00:40
   --------------- ------------------------ 9.2/24.4 MB 391.4 kB/s eta 0:00:39
   --------------- ------------------------ 9.2/24.4 MB 391.4 kB/s eta 0:00:39
   --------------- ------------------------ 9.2/24.4 MB 391.4 kB/s eta 0:00:39
   --------------- ------------------------ 9.2/24.4 MB 391.4 kB/s eta 0:00:39
   --------------- ------------------------ 9.4/24.4 MB 387.8 kB/s eta 0:00:39
   --------------- ------------------------ 9.4/24.4 MB 387.8 kB/s eta 0:00:39
   --------------- ------------------------ 9.7/24.4 MB 391.1 kB/s eta 0:00:38
   --------------- ------------------------ 9.7/24.4 MB 391.1 kB/s eta 0:00:38
   ---------------- ----------------------- 10.0/24.4 MB 393.9 kB/s eta 0:00:37
   ---------------- ----------------------- 10.0/24.4 MB 393.9 kB/s eta 0:00:37
   ---------------- ----------------------- 10.0/24.4 MB 393.9 kB/s eta 0:00:37
   ---------------- ----------------------- 10.2/24.4 MB 395.6 kB/s eta 0:00:36
   ---------------- ----------------------- 10.2/24.4 MB 395.6 kB/s eta 0:00:36
   ---------------- ----------------------- 10.2/24.4 MB 395.6 kB/s eta 0:00:36
   ---------------- ----------------------- 10.2/24.4 MB 395.6 kB/s eta 0:00:36
   ---------------- ----------------------- 10.2/24.4 MB 395.6 kB/s eta 0:00:36
   ----------------- ---------------------- 10.5/24.4 MB 387.3 kB/s eta 0:00:36
   ----------------- ---------------------- 10.5/24.4 MB 387.3 kB/s eta 0:00:36
   ----------------- ---------------------- 10.5/24.4 MB 387.3 kB/s eta 0:00:36
   ----------------- ---------------------- 10.7/24.4 MB 388.2 kB/s eta 0:00:36
   ------------------ --------------------- 11.0/24.4 MB 395.4 kB/s eta 0:00:34
   ------------------ --------------------- 11.3/24.4 MB 401.7 kB/s eta 0:00:33
   ------------------ --------------------- 11.5/24.4 MB 407.5 kB/s eta 0:00:32
   ------------------ --------------------- 11.5/24.4 MB 407.5 kB/s eta 0:00:32
   ------------------- -------------------- 11.8/24.4 MB 411.9 kB/s eta 0:00:31
   ------------------- -------------------- 12.1/24.4 MB 415.0 kB/s eta 0:00:30
   ------------------- -------------------- 12.1/24.4 MB 415.0 kB/s eta 0:00:30
   -------------------- ------------------- 12.3/24.4 MB 418.4 kB/s eta 0:00:29
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   -------------------- ------------------- 12.6/24.4 MB 423.5 kB/s eta 0:00:28
   --------------------- ------------------ 12.8/24.4 MB 420.0 kB/s eta 0:00:28
   --------------------- ------------------ 13.1/24.4 MB 426.4 kB/s eta 0:00:27
   --------------------- ------------------ 13.4/24.4 MB 432.7 kB/s eta 0:00:26
   ---------------------- ----------------- 13.9/24.4 MB 446.4 kB/s eta 0:00:24
   ----------------------- ---------------- 14.2/24.4 MB 453.3 kB/s eta 0:00:23
   ------------------------ --------------- 14.7/24.4 MB 466.4 kB/s eta 0:00:21
   ------------------------ --------------- 14.9/24.4 MB 483.8 kB/s eta 0:00:20
   ------------------------ --------------- 15.2/24.4 MB 490.7 kB/s eta 0:00:19
   ------------------------- -------------- 15.5/24.4 MB 497.0 kB/s eta 0:00:18
   ------------------------- -------------- 15.7/24.4 MB 502.6 kB/s eta 0:00:18
   -------------------------- ------------- 16.0/24.4 MB 506.6 kB/s eta 0:00:17
   --------------------------- ------------ 16.5/24.4 MB 518.3 kB/s eta 0:00:16
   --------------------------- ------------ 16.8/24.4 MB 532.0 kB/s eta 0:00:15
   --------------------------- ------------ 17.0/24.4 MB 537.9 kB/s eta 0:00:14
   --------------------------- ------------ 17.0/24.4 MB 537.9 kB/s eta 0:00:14
   ---------------------------- ----------- 17.3/24.4 MB 540.7 kB/s eta 0:00:14
   ---------------------------- ----------- 17.3/24.4 MB 540.7 kB/s eta 0:00:14
   ---------------------------- ----------- 17.6/24.4 MB 541.2 kB/s eta 0:00:13
   ---------------------------- ----------- 17.6/24.4 MB 541.2 kB/s eta 0:00:13
   ----------------------------- ---------- 17.8/24.4 MB 542.0 kB/s eta 0:00:13
   ----------------------------- ---------- 18.1/24.4 MB 547.3 kB/s eta 0:00:12
   ----------------------------- ---------- 18.1/24.4 MB 547.3 kB/s eta 0:00:12
   ------------------------------ --------- 18.4/24.4 MB 548.6 kB/s eta 0:00:12
   ------------------------------ --------- 18.4/24.4 MB 548.6 kB/s eta 0:00:12
   ------------------------------ --------- 18.6/24.4 MB 551.1 kB/s eta 0:00:11
   ------------------------------ --------- 18.9/24.4 MB 555.4 kB/s eta 0:00:10
   ------------------------------ --------- 18.9/24.4 MB 555.4 kB/s eta 0:00:10
   ------------------------------- -------- 19.1/24.4 MB 563.6 kB/s eta 0:00:10
   ------------------------------- -------- 19.4/24.4 MB 568.4 kB/s eta 0:00:09
   -------------------------------- ------- 19.9/24.4 MB 580.4 kB/s eta 0:00:08
   --------------------------------- ------ 20.2/24.4 MB 585.8 kB/s eta 0:00:08
   --------------------------------- ------ 20.4/24.4 MB 604.2 kB/s eta 0:00:07
   --------------------------------- ------ 20.7/24.4 MB 608.8 kB/s eta 0:00:07
   ---------------------------------- ----- 21.0/24.4 MB 613.0 kB/s eta 0:00:06
   ---------------------------------- ----- 21.2/24.4 MB 616.5 kB/s eta 0:00:06
   ----------------------------------- ---- 21.5/24.4 MB 621.1 kB/s eta 0:00:05
   ----------------------------------- ---- 21.8/24.4 MB 637.7 kB/s eta 0:00:05
   ------------------------------------ --- 22.0/24.4 MB 642.5 kB/s eta 0:00:04
   ------------------------------------ --- 22.3/24.4 MB 644.7 kB/s eta 0:00:04
   ------------------------------------ --- 22.3/24.4 MB 644.7 kB/s eta 0:00:04
   ------------------------------------ --- 22.5/24.4 MB 652.2 kB/s eta 0:00:03
   ------------------------------------- -- 22.8/24.4 MB 654.7 kB/s eta 0:00:03
   ------------------------------------- -- 23.1/24.4 MB 659.1 kB/s eta 0:00:03
   ------------------------------------- -- 23.1/24.4 MB 659.1 kB/s eta 0:00:03
   -------------------------------------- - 23.6/24.4 MB 666.4 kB/s eta 0:00:02
   ---------------------------------------  24.1/24.4 MB 678.8 kB/s eta 0:00:01
   ---------------------------------------- 24.4/24.4 MB 683.3 kB/s eta 0:00:00
Downloading smart_open-7.5.0-py3-none-any.whl (63 kB)
Installing collected packages: smart_open, gensim

   -------------------- ------------------- 1/2 [gensim]
   -------------------- ------------------- 1/2 [gensim]
   -------------------- ------------------- 1/2 [gensim]
   -------------------- ------------------- 1/2 [gensim]
   -------------------- ------------------- 1/2 [gensim]
   -------------------- ------------------- 1/2 [gensim]
   -------------------- ------------------- 1/2 [gensim]
   ---------------------------------------- 2/2 [gensim]

Successfully installed gensim-4.4.0 smart_open-7.5.0

In [101]:
from gensim.models import Word2Vec

w2v_model = Word2Vec(
    sentences=sentences,
    vector_size=100,
    window=5,
    min_count=2,
    workers=4,
    sg=1)

Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'
Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'

In [108]:
w2v_model.wv.most_similar('gun')

[('brutality', 0.9881994724273682),
 ('hitman', 0.9722608327865601),
 ('cell', 0.9716491103172302),
 ('hostage', 0.970767617225647),
 ('gunfight', 0.968054473400116),
 ('exploding', 0.9627262949943542),
 ('terrorism', 0.958788275718689),
 ('boat', 0.9567989706993103),
 ('kidnapping', 0.9560312032699585),
 ('thief', 0.9528922438621521)]

In [110]:
def movie_vector(tokens, model):
    vectors = []
    for word in tokens:
        if word in model.wv:
            vectors.append(model.wv[word])
    if len(vectors) == 0:
        return np.zeros(model.vector_size)
    return np.mean(vectors, axis=0)

movie_vectors = np.array([
    movie_vector(tokens, w2v_model)
    for tokens in new_df['tags']
])

In [111]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(movie_vectors)

In [122]:
def recommend(movie_title, new_df, similarity_matrix):
    movie_title = movie_title.lower()

    matches = new_df[new_df['title'].str.lower().str.contains(movie_title)]

    if matches.empty:
        print("Movie not found. Try another title.")
        return

    idx = matches.index[0]

    scores = list(enumerate(similarity_matrix[idx]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)[1:6]

    for i, score in scores:
        print(new_df.iloc[i].title)

In [123]:
recommend('Avatar', new_df, similarity_matrix)

Dune
Independence Day
Planet of the Apes
Starship Troopers
John Carter

In [125]:
recommend("Pirates of the Caribbean: At World's End", new_df, similarity_matrix)

Cast Away
The Prisoner of Zenda
The Visitors II: The Corridors of Time
Pirates of the Caribbean: The Curse of the Black Pearl
Pirates of the Caribbean: On Stranger Tides

In [127]:
import pickle

pickle.dump(new_df, open('movies.pkl','wb'))

In [131]:
pickle.dump(w2v_model,open('word2vec.model','wb'))

In [132]:
pickle.dump(movie_vectors,open('movie_vectors.npy','wb'))